In [1]:
import pandas as pd
import numpy as np

In [2]:
master_df = pd.DataFrame()

for i in range(1,13):
    month = str(i).zfill(2)
    df = pd.read_csv(f"Data/2019{month}-citibike-tripdata.csv", low_memory=False)    
    df = df.sample(frac=0.02, random_state = 42)
    master_df = master_df.append(df)
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [3]:
len(master_df)

8100

In [ ]:
#master_df.to_csv("citibike_2019.csv", index=False)

In [4]:
master_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
15881,253,2019-01-06 10:03:23.0910,2019-01-06 10:07:36.6940,3278,Monmouth and 6th,40.725685,-74.048790,3273,Manila & 1st,40.721651,-74.042884,29484,Subscriber,1988,1
14302,180,2019-01-27 10:49:57.6340,2019-01-27 10:52:58.1260,3272,Jersey & 3rd,40.723332,-74.045953,3213,Van Vorst Park,40.718489,-74.047727,26191,Subscriber,1962,1
8408,367,2019-01-08 11:00:42.9450,2019-01-08 11:06:49.9930,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29498,Subscriber,1984,2
18166,212,2019-01-17 06:23:14.1480,2019-01-17 06:26:46.7770,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,29457,Subscriber,1984,2
7894,350,2019-01-22 20:04:22.2900,2019-01-22 20:10:13.0340,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,26163,Subscriber,1993,1

In [5]:
master_df['Gender'] = master_df['gender'].replace([0,1,2],['unknown',"Male","Female"])
master_df = master_df.drop('gender',1) 
master_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Gender
15881,253,2019-01-06 10:03:23.0910,2019-01-06 10:07:36.6940,3278,Monmouth and 6th,40.725685,-74.048790,3273,Manila & 1st,40.721651,-74.042884,29484,Subscriber,1988,Male
14302,180,2019-01-27 10:49:57.6340,2019-01-27 10:52:58.1260,3272,Jersey & 3rd,40.723332,-74.045953,3213,Van Vorst Park,40.718489,-74.047727,26191,Subscriber,1962,Male
8408,367,2019-01-08 11:00:42.9450,2019-01-08 11:06:49.9930,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29498,Subscriber,1984,Female
18166,212,2019-01-17 06:23:14.1480,2019-01-17 06:26:46.7770,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,29457,Subscriber,1984,Female
7894,350,2019-01-22 20:04:22.2900,2019-01-22 20:10:13.0340,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,26163,Subscriber,1993,Male

In [6]:
master_df= master_df.reset_index()
master_df = master_df.rename(columns={"index":"ID"})
master_df['ID'] = master_df.index + 1
master_df.head()

,ID,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Gender
0,1,253,2019-01-06 10:03:23.0910,2019-01-06 10:07:36.6940,3278,Monmouth and 6th,40.725685,-74.048790,3273,Manila & 1st,40.721651,-74.042884,29484,Subscriber,1988,Male
1,2,180,2019-01-27 10:49:57.6340,2019-01-27 10:52:58.1260,3272,Jersey & 3rd,40.723332,-74.045953,3213,Van Vorst Park,40.718489,-74.047727,26191,Subscriber,1962,Male
2,3,367,2019-01-08 11:00:42.9450,2019-01-08 11:06:49.9930,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29498,Subscriber,1984,Female
3,4,212,2019-01-17 06:23:14.1480,2019-01-17 06:26:46.7770,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,29457,Subscriber,1984,Female
4,5,350,2019-01-22 20:04:22.2900,2019-01-22 20:10:13.0340,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,26163,Subscriber,1993,Male

In [7]:
master_df.to_csv("citibike_2019.csv", index=False)